<div class="container">
    <table class="table table-bordered" *ngIf="!showOrder">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Inamge</th>
                <th>Price</th>
                <th>Promotion</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of products; let i = index">
                <th>{{i+1}}</th>
                <th>{{item.productName}}</th>
                <td><img [src]="item.image" alt="" width="40px" height="50px"></td>
                <th>{{item.price}}</th>
                <th>{{item.promotionPrice}}</th>
                <td><input type="number" [value]="item.quantity" #quantity (input)="updateQuantity(item.id,quantity.value)"></td>
                <td>{{item.price* item.quantity* ((100-item.promotionPrice)/100)}}</td>
                <th>
                    <button class="btn btn-danger" type="button" (click)="deleteProduct(item)">Delete</button>

                </th>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="8">Thành tiền: {{sumOfPrice()}}</th>
            </tr>
        </tfoot>
    </table>
    <hr>
    <div class="border" *ngIf="!showOrder">
        <form [formGroup]="formGroup" action="" class="m-3" (ngSubmit)="addOrder()">
            <div class="mb-3">
                <label class="form-label">Họ tên</label>
                <input type="text" class="form-control" formControlName="name">

                <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">

                    <div *ngIf="name?.errors?.required" class="text-danger">
                        Name is required.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Số điện thoại</label>
                <input type="number" class="form-control" formControlName="phone">

                <div *ngIf="phone?.invalid && (phone?.dirty || phone?.touched)">

                    <div *ngIf="phone?.errors?.required" class="text-danger">
                        Phone is required.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Địa chỉ</label>
                <textarea type="text" class="form-control" formControlName="address"></textarea>

                <div *ngIf="address?.invalid && (address?.dirty || address?.touched)">

                    <div *ngIf="address?.errors?.required" class="text-danger">
                        Address is required.
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="formGroup.status === 'INVALID'">Submit</button>
        </form>
    </div>

    <div *ngIf="showOrder">
        <h3>Thông tin đơn hàng</h3>
        <p>Họ tên: {{order.userName}}</p>
        <p>Số điện thoại: {{order.phoneNumber}}</p>
        <p>Địa chỉ: {{order.address}}</p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Inamge</th>
                    <th>Price</th>
                    <th>Promotion</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of products; let i = index">
                    <th>{{i+1}}</th>
                    <th>{{item.productName}}</th>
                    <td><img [src]="item.image" alt="" width="40px" height="50px"></td>
                    <th>{{item.price}}</th>
                    <th>{{item.promotionPrice}}</th>
                    <td>{{item.quantity}}</td>
                    <td>{{item.price* item.quantity* ((100-item.promotionPrice)/100)}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="8">Tổng phải thanh toán: {{sumOfPrice()}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>