<div class="container">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" routerLink="/" href="/" (click)="showCart = false">Product</a>
        <a class="btn btn-warning" (click)="showCart = true">Shopping Cart</a>
    </div>
    <hr>
    <div class="row" *ngIf="!showCart">
        <div class="card col-lg-3" *ngFor="let item of products">
            <img src="{{item.image}}" class="card-img-top" alt="...">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">{{item.productName}}</li>
                <li class="list-group-item text-center" *ngIf="item.promotionPrice > 0">{{item.price * ((100-item.promotionPrice)/100)}}</li>
                <li [class]="item.promotionPrice > 0 ? 'list-group-item text-decoration-line-through text-center': 'list-group-item text-center'">{{item.price}}</li>
            </ul>
            <div class="card-body">
                <button type="button" class="btn btn-danger w-100" (click)="addToCart(item)">Add to cart</button>
            </div>
        </div>
    </div>

    <app-shopping-cart [productAdded]="productAdded" *ngIf="showCart"></app-shopping-cart>
    <router-outlet></router-outlet>
</div>